<nav class="navbar navbar-expand-lg navbar-light">
    <a href="https://3ctn.ca/"><img class="logo" src="/assets/images/logo.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse flex" id="navbarSupportedContent">
        <div>
            <div class="input-group navbar-nav flex-plain">
                <button class="btn border nav-btn">Explore the Network</button>
                <form class="form-inline flex">
                    <!--i class="fas fa-search text-black inline"
                    aria-hidden="true"></i-->
                  <input class="form-control" type="search" placeholder="🔎Search" aria-label="Search">
                </form>
            </div>
            <div>
                <ul class="navbar-nav">
                      {% for item in site.data.dropdowns %}
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          {{ item.name_txt }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          {% for link in item.items_lst %}
                          <a class="dropdown-item" href="#">{{ link }}</a>
                          {% endfor %}
                      </li>
                      {% endfor %}
                      <li class="nav-item">
                          <a class="nav-link" href="#">Contact Us</a>
                      </li>
                  </ul>
            </div>
        </div>
    </div>
  </nav>